//Site colors
$darkPink: #55415f
$lightPink: #9f81a9
$footerPink: #9f80a9
$primaryDark: #353535
$linkColor: #333333
$footerGrey: #3a3a3a
$footerDark: #222222
$classicBlack: #000000
$sliderBackground: #ebebeb
$classicWhite: #ffffff
$greyBorder: #ebebeb
$hrColor: #d7d7d7
$paragraphColor: #807d77
$h4Color: #7f7d77
$greyText: #999999
//Fonts
@font-face
	font-family: 'Georgia-Regular'
	src: url(../fonts/georgia/Georgia-Regular.ttf)
*
	font-family: (Georgia-Regular), (Arial)
//HTML styles
//topbar styles
.topbar-container
	width: 100%
	height: 30px
	background-color: $darkPink
.topbar 
	width: 1000px
	height: 30px
	margin: 0 auto
	padding: 0
	padding-right: 20px
	text-align: right
	box-sizing: border-box
	span 
		color: $classicWhite
.topbar-links
	box-sizing: border-box
	display: inline-block
	text-decoration: none
	height: 30px
	color: $classicWhite
	font-size: 11px
	padding: 9px 4px 0px 4px
	margin: 0
	&:hover
		text-decoration: underline
//header styles
header
	width: 100%
	height: 130px
	box-sizing: border-box
	padding-top: 30px
	background-color: $classicWhite
.navigation
	width: 961px
	height: 66px
	margin: 0 auto
	position: relative
.navigation-logo
	position: absolute
	top: 0
	left: 0
	h1
		font-size: 36px
		margin: 2px 0px
		font-weight: normal
		text-transform: uppercase
		span
			font-size: 26px
	p
		font-size: 12px
		margin: 1px 0px
		margin-top: 7px
		color: $greyText
		text-transform: capitalize
		span
			text-transform: uppercase
.navigation-menu-hamburger
	display: none
.navigation-menu
	position: absolute
	bottom: 0
	right: 0
	border-bottom: 1px solid $greyBorder
.navigation-menu-item
	box-sizing: border-box
	display: inline-block
	text-decoration: none
	margin-left: 20px
	text-transform: uppercase
	font-size: 12px
	height: 40px
	padding-top: 10px
	color: $linkColor
	vertical-align: center
	&:hover
		border-bottom: 2px solid $darkPink
		color: $darkPink
	&:nth-child(1)
		margin-left: 0px
//slider styles
.sliderBackground
	width: 100%
	height: 450px
	background-color: $sliderBackground
.slider
	width: 1000px
	height: 100%
	margin: 0px auto
	position: relative
	top: 0
	left: 0
	right: 0
.prevBtn, .nextBtn 
	position: absolute
	bottom: 1px
	width: 29px
	height: 53px
	background-color: $classicWhite
	box-sizing: border-box
	padding-top: 12px
	cursor: pointer
	color: $darkPink
	display: flex
	justify-content: center
.prevBtn
	left: 20px
	border-top-left-radius: 10px
.nextBtn
	right: 20px
	border-top-right-radius: 10px
.slide
	width: 100%
	height: 100%
	position: absolute
	.monitor, .monitorImg
		position: absolute
	.monitor
		width: 488px
		height: 388px
	.monitorImg
		width: 448px
		height: 250px
	article
		width: 420px
		height: 100%
		position: absolute
		h2
			font-size: 36px
			text-transform: uppercase
			color: #333333
			margin: 0
			padding: 0
		p
			font-size: 16px
			color: $greyText
			margin: 0
			padding: 0
			line-height: 25px
		a
			display: block
			text-decoration: none
			width: 140px
			height: 31px
			border-radius: 4px
			text-align: center
			font-size: 16px
			background-color: $darkPink
			color: $classicWhite
			text-transform: uppercase
			box-sizing: border-box
			margin: 0
			padding: 0
			line-height: 31px
			transition: .25s ease-in-out
			&:hover
				box-shadow: 0 0 15px $darkPink
			i 
				font-size: 12px
				margin-left: 5px
.slider-item	
	display: none
.slide
	.monitor
		bottom: 6px
		left: 20px
	.monitorImg
		bottom: 124px
		left: 40px
	article
		right: 0
		h2
			margin-top: 140px
			margin-left: 15px
		p
			margin-top: 30px
			margin-left: 15px
		a
			margin-top: 20px
			margin-left: 15px
.slider-item.current
	display: block
//mainContainer styles
.mainContainer
	width: 1000px
	height: 647px
	margin: 0px auto
	position: relative
	box-sizing: border-box
	padding-top: 226px
.services
	width: 90%
	height: 280px
	position: absolute
	right: 50px
	top: -54px
	z-index: 1000
	background-color: $classicWhite
	display: flex
	justify-content: space-between
.servicesContent
	height: 100%
	width: 210px
	box-sizing: border-box
	flex-direction: column
	img
		width: 64px
		height: 64px
		margin-top: 30px
		margin-left: 73px
	h3
		font-size: 18px
		margin-top: 20px
		text-align: center
		color: $darkPink
	p
		color: $paragraphColor
		font-size: 13px
		text-align: center
		line-height: 20px
		width: 95%
	hr
		width: 100%
		height: 1px
		border: none
		background-color: $hrColor
.shout
	width: 100%
	height: 80px
	text-align: center
	font-size: 18px
	box-sizing: border-box
	padding: 0px 50px
	padding-top: 20px
	color: $footerDark
	p
		margin: 0
		padding: 0
.latestWork
	width: 960px
	height: 341px
	margin: 0px auto
	display: flex
	justify-content: space-between
.latestWorkContent
	height: 100%
	width: 225px
	box-sizing: border-box
	flex-direction: column
	h4
		font-size: 18px
		color: $h4Color
		font-weight: normal
		margin: 20px 0px
	img
		width: 225px
		height: 140px
	p
		color: $paragraphColor
		font-size: 13px	
		line-height: 20px
	a
		font-size: 13px
		text-decoration: none
		text-transform: capitalize
		color: $darkPink
		&:hover
			text-decoration: underline
		i 
			font-size: 8px
//Footer styles
footer
	width: 100%
	height: 336px
	background-color: $footerDark
	hr
		height: 1px
		margin: 0px
		border: none
		border-top: 1px solid $classicBlack
		background-color: $footerGrey
.footerContent
	width: 960px
	height: 274px
	margin: 0px auto
	display: flex
	justify-content: space-between
.footerInfo
	width: 25%
	height: 100%
	h4
		font-size: 18px
		color: $classicWhite
		text-transform: capitalize
		font-weight: normal
		margin-top: 30px
		margin-bottom: 30px
	h5
		font-size: 13px
		color: $lightPink
		text-transform: capitalize
		margin: 0
		margin-bottom: 5px
	p
		font-size: 12px
		line-height: 18px
		letter-spacing: 0.5px
		color: $paragraphColor
	i 
		font-size: 8px
		color: $classicWhite
		margin-right: 10px
	a
		text-decoration: none
		font-size: 12px
		color: $footerPink
		word-spacing: 1px
		line-height: 23px
		&:hover
			text-decoration: underline
	input
		width: 100%
		height: 31px
		margin-bottom: 10px
		border: 1px solid $primaryDark
		border-radius: 4px
		font-size: 13px
		background-color: $primaryDark
		padding-left: 10px
		box-sizing: border-box
		outline: none
	input[type="text"]:focus, input[type="email"]:focus
		border: 1px solid $lightPink
	input[type="submit"]
		width: 80px
		border: 1px solid $lightPink
		height: 31px
		background-color: $lightPink
		color: $classicWhite
		text-transform: uppercase
		cursor: pointer
		transition: .25s ease-in-out
		margin-bottom: 20px
		&:hover
			box-shadow: 0 0 15px $lightPink
		&:active
			background-color: $darkPink
	.newsletterLink
		width: 32px
		height: 32px
		border-radius: 50%
		display: inline-block
		background-color: $primaryDark
		margin-right: 10px
		box-sizing: border-box
		cursor: pointer
		transition: .25s ease-in-out
		&:hover
			background-color: $lightPink
		&:hover i
			color: $classicWhite
		i
			font-size: 15px
			margin-top: 9px
			margin-left: 10px
			color: $paragraphColor
		.fa-google-plus
			margin-left: 7px
	&:first-child
		span
			font-size: 10px
			color: $paragraphColor
		p
			margin-top: 15px
			width: 224px
	&:nth-child(3)
		span
			color: $lightPink
.footerCopyright
	width: 960px
	height: 60px
	margin: 0px auto
	font-size: 12px
	color: $paragraphColor
	display: flex
	justify-content: space-between
	p
		margin-top: 24px
//Media styles width (768px - 999px) 
@media screen and (min-width: 768px) and (max-width: 999px)
	.topbar
		width: 768px
	.navigation
		width: 748px
	.navigation-menu-item
		margin-left: 10px
	.slider
		width: 768px
	.slide
		width: 768px
		.monitor
			width: 448px
			height: 348px
			bottom: 11px
		.monitorImg
			width: 412px
			height: 226px
			bottom: 116px
			left: 38px
		article
			width: 280px
			h2
				font-size: 30px
				margin-top: 115px
			p
				width: 250px
				margin-top: 10px
				font-size: 15px
				line-height: 20px
	.services
		width: 668px
		height: 250px
		.servicesContent
			width: 32%
			img
				margin-top: 24px
				margin-left: 78px
			h3
				margin: 10px 0
			&:last-child
				display: none
	.mainContainer
		width: 768px
		height: 566px	
		padding-top: 196px
	.shout
		height: 54px
		padding-top: 10px
		font-size: 15px
	.latestWork
		width: 728px
		height: 300px
		.latestWorkContent
			width: 32%
			h4
				margin: 10px 0
			img
				width: 100%
			&:last-child
				display: none
	.footerInfo
		width: 32%
		&:nth-child(2)
			display: none
	.footerContent, .footerCopyright
		width: 728px
//Media styles width (600px - 767px)
@media screen and (min-width: 600px) and (max-width: 767px)
	.topbar
		width: 600px
	header
		padding: 0
	.navigation
		width: 560px
	.navigation-logo
		top: 10px
		left: 15px
	.navigation-menu-item
		margin-left: 10px
	.navigation-menu
		width: 488px
		bottom: -55px
		left: 15px
	.sliderBackground
		height: 320px
	.slider
		width: 600px
		height: 320px
	.slide
		width: 600px
		.monitor
			width: 308px
			height: 228px
			bottom: 26px
		.monitorImg
			width: 284px
			height: 148px
			bottom: 95px
			left: 32px
		article
			width: 260px
			h2
				font-size: 22px
				margin-top: 64px
			p
				width: 220px
				margin-top: 10px
				font-size: 12px
				line-height: 16px
			a
				width: 110px
				line-height: 25px
				height: 25px
				font-size: 12px
	.services
		width: 500px
		height: 230px
		.servicesContent
			width: 32%
			img
				margin-top: 20px
				margin-left: 48px
			h3
				font-size: 15px
				margin: 10px 0
			p
				font-size: 12px
				line-height: 17px
			&:last-child
				display: none
	.mainContainer
		width: 600px
		height: 500px	
		padding-top: 176px
	.shout
		height: 54px
		padding: 10px
		font-size: 13px
	.latestWork
		width: 540px
		height: 270px
		.latestWorkContent
			width: 32%
			h4
				font-size: 15px
				margin: 10px 0
			img
				width: 100%
				height: 120px
			p
				font-size: 12px
				line-height: 15px
			a 
				font-size: 12px
			&:last-child
				display: none
	.footerContent, .footerCopyright
		width: 540px
	.footerInfo
		width: 32%
		h4
			font-size: 15px
			margin: 15px 0
		&:first-child
			width: 29%
		&:nth-child(3)
			width: 35%
		&:first-child p
			width: 100%
			line-height: 15px
		&:nth-child(2)
			display: none
		.newsletterLink
			width: 25px
			height: 25px
			margin-right: 5px
			i
				font-size: 12px
				margin-top: 7px
				margin-left: 8px
			.fa-google-plus
				margin-left: 7px
//Media styles width (480px - 599px)
@media screen and (min-width: 480px) and (max-width: 599px)
	.topbar
		width: 480px
		span
			font-size: 10px
	.topbar-links
		font-size: 10px
	header
		padding: 0
	.navigation
		width: 440px
	.navigation-logo
		top: 10px
		left: 0px
	.navigation-menu-item
		margin-left: 14px
		font-size:  10px
	.navigation-menu
		width: 440px
		bottom: -55px	
		left: 0px
	.sliderBackground
		height: 250px
	.slider
		width: 480px
		height: 250px
	.slide
		width: 480px
		.monitor
			width: 258px
			height: 178px
			bottom: 26px
		.monitorImg
			width: 238px
			height: 115px
			bottom: 80px
			left: 30px
		article
			width: 200px
			h2
				font-size: 20px
				margin-top: 60px
			p
				width: 180px
				margin-top: 10px
				font-size: 11px
				line-height: 12px
			a
				width: 90px
				line-height: 25px
				height: 25px
				font-size: 10px
				margin-top: 10px
	.prevBtn, .nextBtn 
		height: 39px
		padding: 5px
	.services
		width: 380px
		height: 250px
		top: -40px
		.servicesContent
			width: 48%
			img
				margin-top: 20px
				margin-left: 59px
			h3
				font-size: 15px
				margin: 10px 0
			p
				font-size: 12px
				line-height: 17px
			&:nth-child(3)
				display: none
			&:last-child
				display: none
	.mainContainer
		width: 480px
		height: 540px	
		padding-top: 210px
	.shout
		height: 60px
		padding: 10px
		font-size: 13px
		p
			line-height: 15px
	.latestWork
		width: 440px
		height: 270px
		.latestWorkContent
			width: 48%
			h4
				font-size: 15px
				margin: 10px 0
			img
				width: 100%
				height: 120px
			p
				font-size: 12px
				line-height: 15px
			a 
				width: 90px
				line-height: 25px
				height: 25px
				font-size: 10px
			&:nth-child(3)
				display: none
			&:last-child
				display: none
	footer
		height: 286px
	.footerContent
		height: 224px	
	.footerCopyright
		p
			font-size: 11px
	.footerContent, .footerCopyright
		width: 440px
	.footerInfo
		width: 48%
		h4
			font-size: 15px
			margin: 15px 0
		&:first-child
			display: none
		&:nth-child(2)
			display: none
		.newsletterLink
			width: 30px
			height: 30px
			margin-right: 8px
			i
				font-size: 12px
				margin-top: 9px
				margin-left: 10px
			.fa-google-plus
				margin-left: 8px
//Media styles width (320px - 479px)
@media screen and (min-width: 320px) and (max-width: 479px)
	.topbar
		width: 320px
		span
			font-size: 10px
	.topbar-links
		font-size: 7.5px
		span
			font-size: 8px
	header
		padding: 0
		height: 100px
	.navigation
		width: 300px
		height: 95%
	.navigation-logo
		top: 10px
		left: 0px
		h1
			font-size: 26px
			span
				font-size: 16px
		p
			font-size: 10px
			margin: 0
	.navigation-menu-item
		margin-left: 1px
		height: 31px
		font-size:  7.5px
	.navigation-menu
		width: 289px
		height: 31px
		bottom: 0px	
		left: 0px
	.sliderBackground
		height: 200px
	.slider
		width: 320px
		height: 200px
	.slide
		width: 320px
		.monitor
			width: 158px
			height: 125px
			bottom: 30px
		.monitorImg
			width: 146px
			height: 81px
			bottom: 68px
			left: 26px
		article
			width: 320px
			h2
				font-size: 20px
				text-align: center
				margin-top: 12px
				margin-left: 0
			p
				width: 122px
				margin-top: 10px
				margin-left: 188px
				font-size: 8px
				line-height: 12px
			a
				width: 70px
				line-height: 17px
				height: 17px
				font-size: 8px
				margin-top: 5px
				margin-left: 188px
				i
					font-size: 7px
	.prevBtn, .nextBtn 
		height: 39px
		padding: 5px
	.services
		width: 220px
		height: 436px
		top: -40px
		left: 50px
		flex-direction: column
		.servicesContent
			width: 100%
			img
				margin-top: 20px
				margin-left: 78px
			h3
				font-size: 15px
				margin: 10px 0
			p
				font-size: 12px
				line-height: 17px
			&:nth-child(3)
				display: none
			&:last-child
				display: none
	.mainContainer
		width: 320px
		height: 970px	
		padding-top: 396px
	.shout
		height: 60px
		padding: 10px
		font-size: 13px
		margin-bottom: 15px
		p
			line-height: 15px
	.latestWork
		width: 320px
		height: 270px
		flex-direction: column
		.latestWorkContent
			margin: 0px auto 
			width: 80%
			h4
				font-size: 15px
				margin: 10px 0
			img
				width: 100%
				height: 120px
			p
				font-size: 12px
				line-height: 15px
			a 
				width: 90px
				line-height: 25px
				height: 25px
				font-size: 10px
			&:nth-child(3)
				display: none
			&:last-child
				display: none
	footer
		height: 505px
	.footerContent
		width: 320px
		height: 443px	
		flex-direction: column
	.footerCopyright
		height: 60px
		p
			font-size: 11px
	.footerCopyright
		width: 320px
		display: flex
		justify-content: center
		p
			font-size: 10px
			&:last-child
				display: none
	.footerInfo
		width: 80%
		margin: auto
		h4
			font-size: 15px
			margin: 15px 0
		&:first-child
			display: none
		&:nth-child(2)
			display: none
		.newsletterLink
			width: 30px
			height: 30px
			margin-right: 8px
			i
				font-size: 12px
				margin-top: 9px
				margin-left: 10px
			.fa-google-plus
				margin-left: 8px